<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local, carenet-stack">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
    </springProfile>
    <springProfile name="!local">
        <appender name="stash" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"appname":"service-user","HOSTNAME":"${HOSTNAME}"}</customFields>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="stash" />
        </root>
    </springProfile>
</configuration>
